.footer-navigation {
    display: flex;
    justify-content:  space-between;
    .item {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .icon {
            width:30px;
            height:30px;
            fill: white;
        }
        .text {
            font-size:15px;
            padding-top:5px;
        }
    }
    .active {
        .icon {
            fill: #3ec70b;
        }
    }
}