.tag {
    display: inline-block;
    padding: 5px 10px;
    vertical-align: middle;
    background: #007dff;
    margin: 15px 5px;
    border-radius: 10px;
    color: #fff;
  }
  .activeTag {
    background: #3ec70b;
    color:#fff;
  }