#dashboard-screen-wrapper {
  display: flex;
  .dashboard-content {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .tags-wrap {
      .tags-list {
        background: #005eda;
        overflow-x: auto;
        white-space: nowrap;
        &::-webkit-scrollbar {
          display: none;
        }
        width: 100vw;
        .tag {
          display: inline-block;
          padding: 5px 10px;
          vertical-align: middle;
          background: #007dff;
          margin: 15px 5px;
          border-radius: 10px;
          color: #fff;
        }
      }
    }
    .maps-wrap {
      flex: 1;
      position: relative;
      flex-direction: column;
      display: flex;


      .maps-content {
        flex:1;
        position: relative;
        .map-container {
            position:absolute;
            left:0;
            top:0;
            width:100%;
            height:100%;
        }
      }
      .draggable-slider-wrap {
        
        background-color: #007bfb;
        position: absolute;
        bottom:0;
        left:0;
        width: 100%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        display: flex;
        color:#fff;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        .content {
         padding:20px;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         flex-grow: 1;
         .slider-grip {
            width:50px;
            height:5px;
            background:#0060c3;
            margin-bottom: 20px;
        }
        }
      }
    }

    .hidden-slider-wrap {
      
        height:130px;
    }



    .footer-navigation-wrap {
        padding-bottom:30px;
        color:#fff;
        z-index: 10;
        box-shadow: 0px 0px 5px rgba($color: black, $alpha: 0.2);
        background:#005fdd;
        .content {
            padding:20px;
            padding-bottom:0;
        }
    }
  }



.main-search-form {
    display: flex;
    width:90vw;
    max-width: 90vw;
    justify-content: center;
    .search-form-left {
        .search-table {
            display:table;
            .empty-cell {
                height:10px;
            }
            .search-row {
                display: table-row;
                margin-bottom:10px;
                .search-cell {
                    display: table-cell;
                    vertical-align: middle;
                    .icon {
                        width:40px;
                        height:40px;
                        background-size: 20px;
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-color: white;
                        border-radius:10px;
                    }
                    .input {
                        margin-left:10px;
                    }
                    input,select{
                        width:100%;
                        box-sizing: border-box;
                        font-size:16px;
                        display:block;
                        outline:none;
                        border:none;
                        height:40px;
                        padding-left:10px;
                        color:#007bfb;
                        padding-right:10px;
                        font-family: 'Inter';
                        -webkit-appearance: none;
                        &::placeholder {
                            color:#007bfb;
                        }
                    }
                    input {
                        font-size:16px;
                        font-family: 'Inter', sans-serif;
                    }
                    select {
                        font-size:16px;
                        &:focus {
                            outline:none;
                        }
                    }
                    .position-icon {
                        background-image:url('../../../public/images/search-icon-blue.png');
                    }
                    .to-icon {
                      display:flex;
                      justify-content: center;
                      color:#007bfb;
                      align-items: center;
                      font-weight: bold;
                    }
                }
            }
        }
    }
    .search-form-right {
        padding-left:10px;
        display:flex;
        justify-content: center;
        align-items: center;
        .search-go-button {
           
            .go_button  {
                width:80px;
                height:80px;
            }
        }
    }
}






}
