.main-search-form {
    display: flex;
    width: 90vw;
    max-width: 90vw;
    justify-content: center;
    padding-bottom:30px;
    .search-form-left {
      .search-table {
        display: table;
        .empty-cell {
          height: 10px;
        }
        .search-row {
          display: table-row;
          margin-bottom: 10px;
          .search-cell {
            display: table-cell;
            vertical-align: middle;
            .icon {
              width: 40px;
              height: 40px;
              background-size: 20px;
              background-position: center center;
              background-repeat: no-repeat;
              background-color: white;
              border-radius: 10px;
            }
            .input {
              margin-left: 10px;
              position: relative;
              .input-validation-error {
                position: absolute;
                left:5px;
                top:-25px;
                z-index: 1;
                
                .text {
                background:rgb(245, 33, 40);
                font-size:12px;
                padding:0px 5px;
                font-weight: bold;
                border: 1px solid rgb(211, 25, 31);
                color:#fff;        
                border-radius: 10px;
                z-index: 38;
                }
                .arrow {
                    position:absolute;
                    width:10px;
                    bottom:-3px;
                    left:8px;
                    z-index: -1;
                    transform: rotate(45deg);
                    height:10px;
                    background:rgb(245, 33, 40);
                    border: 1px solid rgb(211, 25, 31);
                }
               
              }
              .clear-input-button {
                position: absolute;
                right:5px;
                top:0;
                height:100%;
                display: flex;
                cursor: pointer;
                align-items: center;
                fill: #999;
              }
            }
            input,
            select {
              width: 100%;
              box-sizing: border-box;
              font-size: 16px;
              display: block;
              outline: none;
              border: none;
              height: 40px;
              padding-left: 10px;
              border-radius: 10px;
              color: #007bfb;
              padding-right: 10px;
              font-family: 'Inter';
              -webkit-appearance: none;
              &::placeholder {
                color: #007bfb;
              }
            }
            input {
              font-size: 16px;
              padding-right:30px;
              font-family: 'Inter', sans-serif;
            }
            select {
              font-size: 16px;
              &:focus {
                outline: none;
              }
            }
            .position-icon {
              background-image: url('../../../../public/images/search-icon-blue.png');
            }
            .to-icon {
              display: flex;
              justify-content: center;
              color: #007bfb;
              align-items: center;
              font-weight: bold;
            }
          }
        }
      }
    }
    .search-form-right {
      padding-left: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      .search-go-button {
        .go_button {
          width: 80px;
          height: 80px;
        }
      }
    }
  }