body {
  font-family: 'Inter', sans-serif;
  margin: 0 auto;
  font-size: 18px;
  line-height: 25px;
  width:100%;
  position:fixed;
  height: calc(100vh - calc(100vh - 100%));
  background-color: #efefef;
  display:flex;
  min-height: stretch;
  justify-content: center;
}
html {
  height: stretch;
}
#master-container {
  display: flex;
  flex-grow: 1;
  margin: 0 auto;
  max-width: 500px;
  background:#fff;
  height:100%;
}
