body {
  font-family: 'Inter', sans-serif;
  margin: 0 auto;
  font-size: 18px;
  line-height: 25px;
  width:100vw;
  height:100vh;
  background-color: #efefef;
  min-height: fill-available;
  min-height: stretch;
}
html {
  height: fill-available;
  height: stretch;
}
#master-container {
  display: flex;
  flex-grow: 1;
  margin: 0 auto;
  max-width: 500px;
  background:#fff;
  min-height: 100vh;
}
