.header {
    background: #005fdd;
    display: flex;
    padding: 10px;
    padding-top: 20px;
    color: #fff;
    box-shadow: 0px 0px 10px rgba($color: black, $alpha: 0.2);
    z-index: 10;

    .logo-wrap {
      flex: 1;
    }
    .location-wrap {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: right;

      font-size: 14px;
      .location-text {

      }
      .location-icon {
          width:15px;
          height:20px;
          margin-left:5px;
          fill:#3ec70b;
      }
    }
  }