.google-map-container {

  width: 100vw;
  height: 100vh;
  a[href^="http://maps.google.com/maps"] {
    display: none !important;
  }
  a[href^="https://maps.google.com/maps"] {
    display: none !important;
  }
  div {
    position: relative !important;
  }

  .gmnoprint a,
  .gmnoprint span,
  .gm-style-cc {
    display: none;
  }
  .gmnoprint div {
    background: none !important;
  }
}
