.customCSSClass {
    position: absolute;
    width:200px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    background:#fff;
    line-height:16px;
  }
  .customCSSClass span {
    position: absolute;
    left:-100px;
    width:200px;
    margin-top:5px;
     display: block;
    color: #e95a8f;
    position:absolute;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white,
      1px 1px 0 white;
  }