@use '../../../../styles/master' as master;

.go_button_wrapper {
    a {
        color:#fff;
        text-decoration: none;
    }
    .go_button {
        display: flex;
        border-radius: 100px;
        width:100px;
        height:100px;
        background: master.$primary-green;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        box-shadow: 0 0 0 0 master.$primary-green;
        text-decoration: none;
        font-size:30px;
        &:hover, &:focus, &:active {
            background: #38af0d;
        }
        animation: buttonPulse 2s infinite;
    }   
}


@keyframes buttonPulse {
	0% {
		box-shadow: 0 0 0 0 rgba(62, 199, 11, 0.7);
	}

	70% {
		box-shadow: 0 0 0 50px rgba(62, 199, 11, 0);
	}

	100% {
		box-shadow: 0 0 0 0 rgba(62, 199, 11, 0);
	}
}